{% extends 'base.html' %}

{% block content %}

<!-- Section: Design Block -->
<div class="sigin-container">
    
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Регистрация</h2>
            <form method="post">

              {% csrf_token %}

              {% if form.errors %}
                <div class="row">
                    {% for field in form %}
                      {% for error in field.errors %} 
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                      {% endfor %}
                    {% endfor %}
                </div>
              {% endif %}

              <div class="form-outline mb-4">
                {{ form.email }}
                <label class="form-label" for="form3Example3">Электронная почта</label>
              </div>

              <div class="form-outline mb-4">
                {{ form.first_name }}
                <label class="form-label" for="form3Example3">Имя</label>
              </div>

              <div class="form-outline mb-4">
                {{ form.last_name }}
                <label class="form-label" for="form3Example3">Фамилия</label>
              </div>

              <div class="form-outline mb-4">
                {{ form.password1 }}
                <label class="form-label" for="form3Example3">Пароль</label>
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                {{ form.password2 }}
                <label class="form-label" for="form3Example4">Повторите пароль</label>
              </div>
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Зарегистрироваться
              </button>
  
              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
  
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
{% endblock %}