.post-img {
    margin-top: 10px;
    width: 800px;
    height: 600px;
    object-fit: contain;
}

.post-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.post-title {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
}

.sigin-container{
    padding: 200px;
}

body{
    background-color: lightgray;
}